@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 100px auto auto;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}

.react--logo {
  margin-left: 2rem;
}

.box--container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 1rem;
  justify-content: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.circle--container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.circle {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

form > input {
  font-size: 2rem;
  width: 25%;
}

form > textarea {
  width: 25%;
}
